<div class="bg-white mt-20 rounded-lg shadow-lg p-8 mb-8">
  <h1 class="text-3xl sm:text-4xl font-bold text-gray-900 mb-4">Личный кабинет</h1>
  <p class="text-lg sm:text-xl text-gray-700 mb-8">Добро пожаловать, <%= @user.name %>!</p>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 sm:gap-8 mb-8 sm:mb-12">
    <!-- Ваши бронирования -->
    <div class="bg-gray-50 p-4 sm:p-6 rounded-lg">
      <h2 class="text-xl sm:text-2xl font-bold text-gray-900 mb-4">Ваши бронирования</h2>
      <% if @bookings.any? %>
        <div class="space-y-4">
          <% @bookings.each do |booking| %>
            <div class="bg-white p-4 rounded-lg shadow">
              <p class="text-gray-800">Бронирование в "<%= booking.space.name %>"</p>
              <p class="text-sm text-gray-600"><%= booking.start_time %> - <%= booking.end_time %></p>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-600">У вас пока нет бронирований.</p>
      <% end %>
    </div>

    <!-- Ваши пространства -->
    <div class="bg-gray-50 p-4 sm:p-6 rounded-lg">
      <h2 class="text-2xl font-bold text-gray-900 mb-4">Ваши пространства</h2>
      <% if @spaces.any? %>
        <div class="space-y-4">
          <% @spaces.each do |space| %>
            <div class="bg-white p-4 rounded-lg shadow">
              <%= link_to space.name, space_path(space), class: "text-gray-800 hover:text-brand-green" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-600">Вы ещё не создали ни одного пространства.</p>
      <% end %>
    </div>
  </div>

  <!-- Доступные пространства -->
  <div class="bg-gray-50 p-6 rounded-lg">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-2xl font-bold text-gray-900">Список доступных пространств</h2>
      <%= link_to 'Создать новое пространство', new_space_path, class: "px-6 py-3 bg-brand-green text-gray-900 font-bold rounded-lg hover:scale-105 transition-transform" %>
    </div>
    <% if @available_spaces.any? %>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% @available_spaces.each do |space| %>
          <div class="bg-white p-4 rounded-lg shadow">
            <h3 class="font-bold text-lg mb-2">
              <%= link_to space.name, space_path(space), class: "text-gray-800 hover:text-brand-green" %>
            </h3>
            <p class="text-gray-600"><%= space.description %></p>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-gray-600">Нет доступных пространств для бронирования.</p>
    <% end %>
  </div>
</div>




<!--<h1>Dashboard</h1>-->

<!--<p>Добро пожаловать, <%#= @user.name %>!</p>-->

<!--<h2>Ваши бронирования:</h2>-->
<%# if @bookings.any? %>
<!--  <ul>-->
    <%# @bookings.each do |booking| %>
<!--      <li>-->
<!--        Бронирование в "<%#= booking.space.name %>" с <%#= booking.start_time %> до <%#= booking.end_time %>-->
<!--      </li>-->
    <%# end %>
<!--  </ul>-->
<%# else %>
<!--  <p>У вас пока нет бронирований.</p>-->
<%# end %>

<!--<h2>Ваши пространства:</h2>-->
<%# if @spaces.any? %>
<!--  <ul>-->
    <%# @spaces.each do |space| %>
<!--      <li><%#= link_to space.name, space_path(space) %></li>-->
    <%# end %>
<!--  </ul>-->
<%# else %>
<!--  <p>Вы ещё не создали ни одного пространства.</p>-->
<%# end %>

<!--<h2>Список доступных пространств:</h2>-->
<%# if @available_spaces.any? %>
<!--  <ul>-->
    <%# @available_spaces.each do |space| %>
<!--      <li>-->
<!--        <h3><%#= link_to space.name, space_path(space) %></h3>-->
<!--        <p><%#= space.description %></p>-->
<!--      </li>-->
    <%# end %>
<!--  </ul>-->
<%# else %>
<!--  <p>Нет доступных пространств для бронирования.</p>-->
<%# end %>

<%#= link_to 'Создать новое пространство', new_space_path %>