<h1>Редактирование пространства</h1>

<%= form_with model: @space, local: true do |form| %>
  <div>
    <%= form.label :name, "Название пространства" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, "Описание" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :opening_time, "Время открытия" %>
    <%= form.time_field :opening_time %>
  </div>

  <div>
    <%= form.label :closing_time, "Время закрытия" %>
    <%= form.time_field :closing_time %>
  </div>

  <div>
    <%= form.submit "Сохранить изменения" %>
  </div>
<% end %>

<%= link_to "Отмена", space_path(@space) %>