<h1><%= @space.name %></h1>

<p><%= @space.description %></p>
<p>Рабочие часы: <%= @space.opening_time.strftime("%H:%M") %> - <%= @space.closing_time.strftime("%H:%M") %></p>

<% if @space.creator_id == current_user.id %>
  <%= link_to "Редактировать пространство", edit_space_path(@space) %>
<% end %>
<%= link_to "Назад на главную страницу", dashboard_path %>